html, body{
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.main{
    min-height: calc(100vh - 270px);
}

/* Style the form */
#regForm {
    background-color: #ffffff;
    width: 70%;
    min-width: 300px;
}

.form{
    background-color: #ffffff;
    width: 50%;
    min-width: 300px;
}

/* Style the input fields */
input,
select {
    padding: 10px;
    width: calc(100% - 22px);
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

}

    /* Mark input boxes that gets an error on validation: */
    input.invalid {
        background-color: #ffdddd;
    }

.sub-tab{
    width: 100%;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    border: 1px solid black;
}


.tab {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}

.tab article, p{
    width: 90%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.flexcenter{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.direction-row{
    flex-direction: row;
    justify-content: left;
}

.flex-start{
    align-items: flex-start;
}

#header{
    width: 100%;
    height: auto;
    position: relative;
}

#footer{
    background-color: #262626;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
    display: block;
}

.slogan{
    font-size: 4rem;
    font-weight: 900;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 1px black;
    word-break: keep-all;
}

.custom-text{
    margin: 5px 5px 5px 30px;
    width: calc(100% - 35px);
    font-size: 16px;
    color:whitesmoke;
}

#navigation{
    width: 100%;
    background-color: #262626;
    height: 40px;
    box-sizing: border-box;
}

.nav{
    text-decoration: none;
    color:whitesmoke;
    height: 100%;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.buttons-container{
    box-shadow: none !important;
}

button{
    cursor: pointer;
}
